@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: darkgrey;
    padding: 10px 100px;
    width: 100%;
    min-height: 65px; 
    position: fixed; 
    z-index: 1000;
}  

.navbar .logo {
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    pointer-events: none;
}

.navbar .logo span {
    font-size: 20px;
    text-transform: capitalize;
    color: darkblue;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #FFF;
    position: relative;
}

.navbar ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: darkblue;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.navbar ul li a:hover::after {
    width: 100%;
}

    /*============ Home Section Styling ===============*/
.home {
    width: 100%;
    height: 100vh;
}

.row {
    display: flex;
    align-items: center;
    padding-top: 150px;
    padding-left: 13%;   
}

.col {
    flex-basis: 50%;
}

.col h3 {
    text-transform: uppercase;
    color: black;
    margin-bottom: 15px;  
}

.btn {
    background: darkgrey;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    padding: 12px;
    border-radius: 5px;
    margin-left: 80px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: darkblue;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 15px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card-1 {
    background-image: url(images/image-2.jpg);
}

.card-2 {
    background-image: url(images/image-10.jpeg);
}

.card-3 {
    background-image: url(images/image-13.jpeg);
}

.card-4 {
    background-image: url(images/image-3.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

    /*============ About Us Section Styling ===============*/
.about-us {
    padding: 200px 100px;
    height: 100vh;
}

.about-us p {
    text-align: justify;
    line-height: 1.9;
    font-size: 17px;
    background: #F6F6F6;
    padding: 30px 40px;
    border-top: 2px solid darkblue;
}

    /*============ Services Section Styling ===============*/
.service {
    padding: 15% 10% 5%;
    height: 100vh;
}

.service .row-1 {
    display: flex;
    justify-content: space-between;  
}

.service .row-1 .service-col-1 {
    flex-basis: 35%;
}

.service .row-1 .service-col-1 img { 
    width: 430px;
    height: 480px; 
    border-radius: 50%;
    margin-top: -60px;
}

.service .row-1 .service-col-2 {
    flex-basis: 50%;
}

.service .row-1 .service-col-2 p {
    text-align: justify;
    line-height: 1.5;
    margin-top: -10px;
    margin-bottom: 18px;
}

.service .row-1 .service-col-2 ul {
    padding-left: 40px;
}

.service .row-1 .service-col-2 ul li {
    text-align: justify;
    margin-bottom: 5px;
}

.tab-titles {
    display: flex;
    margin: 50px 0 0;
}

.tab-titles .tab-links {
    margin-right: 100px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    position: relative;
    cursor: pointer;
}

.tab-links.active-link {
    color: darkblue;  
   
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

    /*============ Registration Form Styling ===============*/
.registration-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    padding-top: 80px;
    height: 100vh;
}

.container-1 {
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: 0 15px;
    background: #FFF;
    position: relative;
}

.container-1 header {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;  
}

.container-1 form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
}

form .fields .input-field .red-text {
    font-size: 13px;
    color: red;  
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2E2E2E;
    display:block;
}

.input-field input, select {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    outline: none;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 100%;
}

.input-field input[type="file"] {
    padding-top: 10px;
}

.form-submit-button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: darkgrey;
    color: #FFF;
    font-size: 20px;
    border-radius: 8px;
    margin: 40px 0 20px;
    cursor: pointer;
}

.login-link {
    text-align: center;
    font-size: 15px;
    color: black;
}

.login-link a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

    /*============ Login Form Styling ===============*/
.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    height: 100vh;
}

.wrapper-2 {
    width: 100%;
    max-width: 420px;
    background: #FFF;
    color: #2E2E2E;
    border-radius: 10px;
    padding: 40px 50px;
    margin-top: 60px;
}

.wrapper-2 h1 {
    text-align: center;
    font-size: 34px;
}

.wrapper-2 .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #aaa;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    right: 20px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 20px;
}

.btn-2 {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: darkgrey;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.register-link {
    text-align: center;
    font-size: 14.5px;
    color: #333;
    margin: 20px 0 15px;
}

.register-link a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

    /*============ Footer Section Styling ===============*/
.footer {
    background: darkblue;
    color: #FFF;
    width: 100%;
    padding: 23px 0;
    text-align: center;
    font-size: 15px;
}
